:root {
  --light-blue: #3466af;
  --deft-blue: #21386e;
  --dark-blue: #1d2c5e;
  --dark-yellow: #ffcb05;
  --neon-gold: #c7a008;
  --poke-red: #ff0000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: var(--deft-blue);
}
header {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.title {
  font-size: clamp(1rem, 2.5rem, 3rem);
  font-family: PokeFont;
  color: var(--light-blue);
  grid-column: 1/2;
}
.subtitle {
  font-size: 1.5rem;
  max-width: 45%;
  color: var(--light-blue);
  grid-column: 1/2;
}
.score-section {
  justify-self: end;
  font-size: 1.5rem;
  grid-row: 1/2;
  grid-column: 2/2;
  color: var(--light-blue);
  font-family: PokeFont;
}
@font-face {
  font-family: "PokeFont";
  src: url("./assets/fonts/pokeFont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.cards-grid {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 3rem;
  grid-template-columns: repeat(4, minmax(200px, 0.8fr));
  padding: 1rem 2rem;
}
#root {
}
.wrapper {
  display: grid;
  border: 3px solid;
  border-color: var(--light-blue);
  font-family: PokeFont;
  justify-items: center;
  background-color: var(--neon-gold);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.card-img-container {
  max-width: clamp(100px, 250px, 450px);
}
.card-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-pk-name {
  font-size: clamp(1rem, 1.2rem, 3rem);
  padding: 1rem;
  min-height: 6%;
  color: var(--deft-blue);
}
.wrapper:hover {
  box-shadow: 0px 0px 26px 10px var(--poke-red);
  transform: translateY(-10px);
  cursor: pointer;
}
